---
import type Post from '../interfaces/post';
import CategoryTag from './CategoryTag.astro';
import ResponsiveImage from './ResponsiveImage.astro';
import RichContentElement from './rich_content/RichContentElement.astro';
interface Props {
  post: Post;
}
const { post } = Astro.props;
const publishDate = new Date(post.attributes.publishedAt);
const dateFormat = new Intl.DateTimeFormat('de-DE');
---

<div class="flex justify-between items-end w-full mb-4">
  <h2>
    {post.attributes.title}
    <CategoryTag category={post.attributes.category.data} />
  </h2>
  <span>{dateFormat.format(publishDate)}</span>
</div>

{
  post.attributes.mainImage.data && (
    <ResponsiveImage image={post.attributes.mainImage.data.attributes} />
  )
}

<RichContentElement blocks={post.attributes.content} />

<style lang="postcss">
  h2 {
    @apply text-4xl underline
  }
</style>
